<%= stylesheet_link_tag("jquery.Jcrop.css") %>
<%= javascript_include_tag("jquery.Jcrop") %>
<%= javascript_include_tag("users") %>

<div id="layout" class="container-fluid">
<%= image_tag @user.avatar.url(:large), :id => "cropbox", class: "jcrop" %>

<%= form_for @user do |f| %>
    <% %w[x y w h].each do |attribute| %>
        <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
    <%= f.submit "Crop" %>
<% end %>
</div>