<!--<h1>Listing contact_pages</h1>-->

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>First name</th>-->
      <!--<th>Last name</th>-->
      <!--<th>Email</th>-->
      <!--<th>Phone</th>-->
      <!--<th>Contact me</th>-->
      <!--<th>Reason selected</th>-->
      <!--<th>Question</th>-->
      <!--<th>Subscribe newsletter</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @contact_pages.each do |contact_page| %>-->
      <!--<tr>-->
        <!--<td><%= contact_page.first_name %></td>-->
        <!--<td><%= contact_page.last_name %></td>-->
        <!--<td><%= contact_page.email %></td>-->
        <!--<td><%= contact_page.phone %></td>-->
        <!--<td><%= contact_page.contact_me %></td>-->
        <!--<td><%= contact_page.reason_selected %></td>-->
        <!--<td><%= contact_page.question %></td>-->
        <!--<td><%= contact_page.subscribe_newsletter %></td>-->
        <!--<td><%= link_to 'Show', contact_page %></td>-->
        <!--<td><%= link_to 'Edit', edit_contact_page_path(contact_page) %></td>-->
        <!--<td><%= link_to 'Destroy', contact_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<br>

<!--<%= link_to 'New Contact page', new_contact_page_path %>-->
<div class="container alt-layout">

  <div class="row">
    <div class="col-xs-12">
      <div class="blueboldheading">
        <h1>
          Contact Messages
          <!--Support &amp; FAQ-->
          <!--<img src="../assets/ico-support2.png" alt="Support/FAQ">-->
        </h1>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <!-- begin panel 1 -->
      <% @contact_pages.each do |contact_page| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= contact_page.reason_selected %></h3>
        </div>

        <div class="panel-body">
          <div class="blog-posted-row">
            Posted on <%= contact_page.updated_at %> by
            <a href="#" class="supports">admin</a>
          </div>
          <br>

          <p><%= contact_page.question %></p>

          <%= link_to 'Show', contact_page, class: "btn btn-default" %>
          <%= link_to 'Edit', edit_contact_page_path(contact_page), class: "btn btn-default" %>
          <!--<%= link_to 'Destroy', contact_page, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-default" %>-->
        </div>
      </div>
      <!-- End panel 1 -->
      <% end %>

    </div>
  </div>

</div>
<!-- End container -->
