<%= smart_listing.paginate :users %>

<%= smart_listing.pagination_per_page_links :users %>
<%= smart_listing_controls_for(:users, {class: "form-inline text-right"}) do %>
    <div class="form-group filter input-append">
      <br />
      <%= text_field_tag :filter, '', class: "search form-control",placeholder: "Search...", autocomplete: :off  %>
<% end %>
</div>
<table>
  <thead>
  <tr>

    <th><%= smart_listing.sortable "Username", :userName %></th>

    <th><%= smart_listing.sortable "Age", :birthdate %></th>
    <th><%= smart_listing.sortable "City", :city %></th>
    <th><%= smart_listing.sortable "State", :state %></th>
    <th><%= smart_listing.sortable "Zip Code", :zip %></th>
    <th>Image</th>
    <th class="xs-hidden"><%= smart_listing.sortable "About", :about %></th>
    <th><%= smart_listing.sortable "Gender", :gender %></th>

    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% smart_listing.collection.each do |user| %>
      <tr>

        <td><%= user.userName %></td>

        <td><%= userAge( user.birthdate ) %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.zip %></td>

        <% if user.avatar.present? %>
            <td><%= image_tag(user.avatar.url(:small_thumb).to_s) %></td>
            <%#= image_tag user.avatar, size: '100x100' %>
        <% else %>
            <td><%= image_tag user.thumbnail, size: '100x100' %></td>
        <% end %>
        <td class="xs-hidden"><%= user.about %></td>
        <td><%= user.gender %></td>

        <td><%= link_to 'Show', user %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= smart_listing.paginate :users %>

<%= smart_listing.pagination_per_page_links :users %>