<%= smart_listing.paginate :users %>

<%= smart_listing.pagination_per_page_links :users %>
<table>
  <thead>
  <tr>

    <th><%= smart_listing.sortable "Username", :userName %></th>

    <th><%= smart_listing.sortable "Age", :birthdate %></th>
    <th><%= smart_listing.sortable "City", :city %></th>
    <th><%= smart_listing.sortable "State", :state %></th>
    <th><%= smart_listing.sortable "Zip Code", :zip %></th>
    <th><%= smart_listing.sortable "About", :about %></th>
    <th><%= smart_listing.sortable "Gender", :gender %></th>

    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% smart_listing.collection.each do |user| %>
      <tr>

        <td><%= user.userName %></td>

        <td><%= userAge( user.birthdate ) %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.zip %></td>
        <td><%= user.about %></td>
        <td><%= user.gender %></td>

        <td><%= link_to 'Show', user %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= smart_listing.paginate :users %>

<%= smart_listing.pagination_per_page_links :users %>