<div class="container alt-layout">

  <!-- begin contact page heading-->
  <div class="row">
    <div class="col-sm-12">
      <div class="blueboldheading">
        <h1>Contact Us</h1>
      </div>

      <div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.
          Quisque
          eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum.</p>
      </div>
    </div>
  </div>
  <!-- end contact page heading-->

  <br>

  <!-- user info from post -->
  <div class="row">
    <div class="col-xs-12">
      <!-- Begin form post -->
      <!-- use this to display error messages-->
      <div class="formPost">
        <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
              <%= value %>
            </div>
        <% end %>

        <% if @commit %>
            <div class="user-info panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  User Information:
                </div>
              </div>
              <div class="panel-body">
                <p>First name: <strong><%= @first_name %></strong></p>
                <p>Last name: <strong><%= @last_name %></strong></p>
                <p>Email: <strong><%= @email %></strong></p>
                <p>Phone: <strong><%= @phone %></strong></p>
                <p>Contact Me: <strong><%= @contact_me %></strong></p>
                <p>Reason for contact: <strong><%= @reason_selected %></strong></p>
                <p>Question: <strong><%= @question %></strong></p>
                <p>Subscribe to newsletter: <strong><%= @subscribe_newsletter %></strong></p>
              </div>
            </div>
        <% end %>
      </div>
      <!-- End form post -->
    </div>
  </div>
  <!-- End user info from post -->

  <br>

  <!-- begin form -->
  <div class="row">

    <%= form_tag('/contact_us', class: "col-xs-12") do %>

        <!--begin personal section-->
        <div class="form-group">
          <p><strong>All fields with a * are required</strong></p>

          <%= label_tag("first name", "*First name:") %>
          <%= text_field_tag("first_name", @first_name, placeholder: "First Name", class: "form-control") %>
        </div>

        <div class="form-group">
          <%= label_tag("last name", "*Last name:") %>
          <%= text_field_tag("last_name", @last_name, placeholder: "Last name", class: "form-control") %>
        </div>

        <div class="form-group">
          <%= label_tag("email", "*Email:") %>
          <%= email_field_tag("email", @email, placeholder: "Email", class: "form-control") %>
        </div>

        <div class="form-group">
          <%= label_tag("phone", "Phone:") %>
          <%= telephone_field_tag("phone", @phone, placeholder: "xxx-xxx-xxxx", class: "form-control") %>
        </div>

        <p><strong>Preferred Contact Method:</strong></p>

        <div class="radioButtons radio-inline">
          <%= radio_button_tag("contact_me", "email", @contact_me == "email") %>
          <%= label_tag("contact_email", "Email", class: "radioHeading") %>
        </div>

        <div class="radioButtons radio-inline">
          <%= radio_button_tag("contact_me", "phone", @contact_me == "phone") %>
          <%= label_tag("contact_phone", "Phone", class: "radioHeading") %>
        </div>
        <!--end preferred contact method-->

        <br><br>

        <!--reason for contact-->
        <div class="contact-reason form-group">
          <span><strong>Reason for contact?</strong></span>
          <br>
          <%= select_tag("contact_reason", options_for_select(@contact_reason, @reason_selected), class: "form-control") %>
        </div>

        <div class="contact-question form-group">
          <span><strong>Enter your question:</strong></span>
          <br>
          <%= text_area_tag("question", @question, class: "contactus-textarea form-control") %>
        </div>

        <div class="checkbox">
          <%= check_box_tag("subscribe_newsletter", value = "1", @subscribe_newsletter) %>
          <!--<input type="checkbox" name="subscribe_newsletter" value="1" id="contactSubscribe"/>-->
          <%= label_tag("newsletter", "Subscribe to newsletter?") %>
        </div>

        <div class="checkbox">
          <!-- <input type="checkbox" name="newProductNotify" value="1" id="newProductNotify"/>-->
          <%= check_box_tag("notify_products", value = "1", @notify_products) %>
          <%= label_tag("new_products", "Notify me of new products") %>
        </div>

        <%= submit_tag("Submit", class: "btn btn-default col-xs-12 col-sm-12 col-md-6 col-lg-6") %>

        <%= link_to("Cancel", home_path, class: "btn btn-default col-xs-12 col-sm-12 col-md-6 col-lg-6") %>
    <% end %>
  </div>
  <!-- End form -->

  <br>
  <hr>

  <!-- begin contact page footer -->
  <div class="row">
    <div class="col-sm-12">

        <br>
        <h3>Location</h3>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <%= image_tag "soulmate.jpg" %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
          <address>
            Soul Mate<br>
            3941 Really Long Street<br>
            Spokane WA, 99207 US<br>
          </address>

          <p>
            <span><%= image_tag "ico-phone.png" %> Phone:</span>
            (888) 123 456 789<br>
            <span><%= image_tag "ico-fax.png" %>Fax:</span>
            (888) 987 654 321<br>
            <span><%= image_tag "ico-website.png" %> Website:</span>
            <a href="#">www.mycompany.com</a><br>
            <span><%= image_tag "ico-email.png" %> Email:</span>
            <a href="mailto:info@mycompany.com">info@mycompany.com</a><br>
          </p>
        </div>

    </div>
  </div>
  <br>
  <!-- End contact page header -->

</div>