<h1>Page#match</h1>
<p>Find me in app/views/page/match.html.erb</p>



<table>
  <thead>
  <tr>
    <th> 1</th>
    <th> 2</th>
    <th> 3</th>
    <th> 4</th>
    <th> 5</th>
    <th> 6</th>
    <th> 7</th>
    <th> 8</th>
    <th> 9</th>
    <th> 10</th>
    <th> 11</th>
    <th> 12</th>
    <th> 13</th>
    <th> 14</th>
    <th> 15</th>
    <th> 16</th>
    <th> 17</th>
    <th> 19</th>
    <th> 20</th>
    <th>Score</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @test.each do |survey| %>
    <% survey.each do |more| %>
          <tr>
            <td><%= more.question_one %></td>
            <td><%= more.question_two %></td>
            <td><%= more.question_three %></td>
            <td><%= more.question_four %></td>
            <td><%= more.question_five %></td>
            <td><%= more.question_six %></td>
            <td><%= more.question_seven %></td>
            <td><%= more.question_eight %></td>
            <td><%= more.question_nine %></td>
            <td><%= more.question_ten %></td>
            <td><%= more.question_eleven %></td>
            <td><%= more.question_twelve %></td>
            <td><%= more.question_thirteen %></td>
            <td><%= more.question_fourteen %></td>
            <td><%= more.question_fifthteen %></td>
            <td><%= more.question_sixteen %></td>
            <td><%= more.question_seventeen %></td>
            <td><%= more.question_eighteen %></td>
            <td><%= more.question_nineteen %></td>
            <td><%= more.question_twenty %></td>
            <td><%= %></td>
            <td><%= more.user_id %></td>
            <td><%= link_to 'Show', more %></td>
          </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

