<h1>Listing surveys</h1>

<table>
  <thead>
    <tr>
      <th> 1</th>
      <th> 2</th>
      <th> 3</th>
      <th> 4</th>
      <th> 5</th>
      <th> 6</th>
      <th> 7</th>
      <th> 8</th>
      <th> 9</th>
      <th> 10</th>
      <th> 11</th>
      <th> 12</th>
      <th> 13</th>
      <th> 14</th>
      <th> 15</th>
      <th> 16</th>
      <th> 17</th>
      <th> 19</th>
      <th> 20</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.question_one %></td>
        <td><%= survey.question_two %></td>
        <td><%= survey.question_three %></td>
        <td><%= survey.question_four %></td>
        <td><%= survey.question_five %></td>
        <td><%= survey.question_six %></td>
        <td><%= survey.question_seven %></td>
        <td><%= survey.question_eight %></td>
        <td><%= survey.question_nine %></td>
        <td><%= survey.question_ten %></td>
        <td><%= survey.question_eleven %></td>
        <td><%= survey.question_twelve %></td>
        <td><%= survey.question_thirteen %></td>
        <td><%= survey.question_fourteen %></td>
        <td><%= survey.question_fifthteen %></td>
        <td><%= survey.question_sixteen %></td>
        <td><%= survey.question_seventeen %></td>
        <td><%= survey.question_eighteen %></td>
        <td><%= survey.question_nineteen %></td>
        <td><%= survey.question_twenty %></td>
        <td><%= survey.user_id %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %>
