<!DOCTYPE html>
<head>
  <title>Soul Mates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag "layout" %>

  <%= csrf_meta_tags %>
</head>

<body id="body_container_inner">
<!--<div id="header">-->
<!--<div id="logo"><a href="#"><%= image_tag "logo_1.gif" %></a></div>-->
<!--</div>-->
<!-- Fixed navbar -->
<nav id="menu" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Soul Mates</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "HOME", home_path %></li>
        <li><%= link_to "BROWSE", browse_path %></li>
        <li><%= link_to "MATCH", match_path %></li>
        <% if current_user %>
            <li><%= link_to "PROFILE", user_path(current_user[:id]) %></li>
        <% end %>
        <li><%= link_to "SUPPORT", support_path %></li>
        <li><%= link_to "CONTACT US", contact_us_path %></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>
<div id="footer">
  FOOTER TEXT
</div>
</body>

</html>
